.pageBody {
  display: grid;
  gap: 30px;
  grid-template: 1fr / 720px 220px;
  margin-top: 30px;
}

.pageBodyMain {
  width: 720px;
  grid-column-start: 1;
  /* 段組み:左寄せ */
  .articleDetailHead {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
  .articleDetailFoot {
    border-top: 1px solid #cccccc;
    margin-top: 30px;
    padding-top: 15px;
  }

  .articleDetailBody {
    section {
      margin-top: 30px;
    }

    table {
      font-size: 14px;
      border: 1px solid #cccccc;
      border-collapse: collapse;
      width: 100%;
      line-height: 1.429;
    }

    @mixin th-td {
      border: 1px solid #cccccc;
      padding: 5px 10px;
      text-align: left;
    }

    th {
      @include th-td;
      background-color: #153647;
      opacity: 0.7;
    }
    td {
      @include th-td;
    }

    caption {
      text-align: left;
      font-weight: bold;
      padding-left: 10px;
    }
  }
  ul li {
    font-size: 14px;
    list-style-type: square;
    line-height: 1.429;
  }

  .heading-typeA {
    font-size: 18px;
    color: #349fa6;
    border-bottom: 1px solid #349fa6;
    padding: 5px;
    line-height: 1.333;
  }
  .heading-typeB {
    font-size: 16px;
    border-left: 5px solid #e3e4d9;
    padding-left: 10px;
    line-height: 1.375;
  }

  .heading-typeC {
    font-size: 14px;
    line-height: 1.429;
  }

  .creditUnit {
    padding: 10px;
    border: 1px solid #cccccc;
    line-height: 1.5;
    p {
      font-size: 12px;
    }
  }

  figure {
    margin: 0;
  }

  figcaption {
    font-size: 12px;
  }
}
.pageBodySub {
  grid-column-start: 2;
}

.articleDetail .border {
  border-bottom: 1px solid #cccccc;
}
.imageWrap {
  position: relative;
  width: 720px;
  height: 390px;
}
