.waku {
  background-color: #333;
  padding-top: 2rem;
  .flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    a {
      text-decoration: none;
    }
    .item {
      color: initial;
      text-decoration: none;
      padding: 0.5em 1.5em;
      min-width: 10em;
      border: 2px solid green;
      font-weight: bold;
      border-radius: 1em;
      background-color: yellowgreen;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;

      &.noContent {
        background-color: red;
      }

      &.end {
        margin-bottom: 30px;
      }

      &::after {
        content: " ⤴";
      }
      &:hover {
        background-color: rgb(34, 167, 96);
        // opacity: 0.7;
      }
    }
  }
  .footer {
    position: absolute;

    border-top: 1px solid #eaeaea;
  }
}
