@use "sass:meta";

$pc: 102px; // PC
$tab: 768px; // タブレット
$sp: 767px; // スマホ

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @debug meta.content-exists();
    @content;
  }
}
@mixin tab {
  @media screen and (min-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
