/* dummy */
.sampleHead {
  background: #333;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  position: relative;

  .sampleHead_link {
    float: left;
    padding-left: 20px;
  }
  .sampleHead_h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
  }
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
