@use "../../../styles/Responsive.scss" as responsive;

/* dummy */
.sampleHead {
  background: #333;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  position: relative;
  min-width: 100%;

  @include responsive.sp {
    border-bottom: 1px solid black;
  }

  .sampleHead_link {
    @include responsive.pc {
      position: absolute;
      padding-left: 20px;
    }
    @include responsive.sp {
      display: none;
    }
  }
  .sampleHead_h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    @include responsive.sp {
      font-size: 32px;
      color: rgb(54, 155, 181);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}
