.container {
  color: rgb(153, 190, 223);
  font-family: sans-serif;
  /* overflow: hidden; */
}
.myCanvas {
  position: fixed;
  z-index: -1;
  background-color: #0a1f1d;
  width: 100%;
  height: 100%;
}
.page {
  width: 67.2%;
  /* 中央寄せ */
  /* 左右にautoを指定することで左右のマージンをブラウザが自動で吸収する */
  margin: 0 auto;
}

.toPageTop {
  font-size: 12px;
  text-align: right;
  width: 720px;
  &::after {
    content: "⤴";
    color: #999999;
  }
  a {
    text-decoration: none;
  }
}

.pageFoot {
  margin-top: 15px;
  border-top: 1px solid #cccccc;
}
