@charset 'UTF-8';

.itemBlock {
  margin: 0 10px 10px 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 1em;
  max-width: 100%;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.componentName {
  margin: 0 10px;
  padding: 0 10px;
  font-size: 1.3em;
  color: aqua;
}
