.pageBody {
  margin-top: 30px;
  display: grid;
  gap: 30px;
  grid-template: 1fr / 720px 220px;
}

.pageBodyMain {
  grid-column-start: 1;
}

.pageBodySub {
  grid-column-start: 2;
}

.imageContiner {
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 30px;
  margin: 30px 0;
  object-fit: contain;
  position: relative;
  .imageWrap {
    position: relative;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    // @media screen and (max-width: 390px) {
    //   width: 150px;
    //   height: 280px;
    // }
  }
}

.articleDetail .border {
  border-bottom: 1px solid #cccccc;
}
