.pageBody {
  margin-top: 30px;

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.pageBodyMain {
  width: 720px;
  /* 段組み:左寄せ */
  float: left;
}

.pageBodySub {
  width: 220px;
  /* 段組み:右寄せ */
  float: right;
}

.imageContiner {
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 30px;
  margin: 30px 0;
  object-fit: contain;
  position: relative;
  .imageWrap {
    position: relative;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    // @media screen and (max-width: 390px) {
    //   width: 150px;
    //   height: 280px;
    // }
  }
}

.articleDetail .border {
  border-bottom: 1px solid #cccccc;
}
