.pageBody {
  margin-top: 30px;

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.pageBodyMain {
  width: 720px;
  /* 段組み:左寄せ */
  float: left;
}

.pageBodySub {
  width: 220px;
  /* 段組み:右寄せ */
  float: right;
}

.imageContiner {
  text-align: center;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 30px;
  margin: 30px 0;
}

.articleDetail .border {
  border-bottom: 1px solid #cccccc;
}
