.pageBody {
  margin-top: 30px;
  display: grid;
  gap: 30px;
  grid-template: 1fr / 720px 220px;
}

.pageBodyMain {
  grid-column-start: 1;
}

.pageBodySub {
  grid-column-start: 2;
}

/* 記事一覧 */
.articleList {
  border: 1px solid #cccccc;
  margin-bottom: 25px;

  a {
    display: block;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse wrap;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .articleListText {
    width: 370px;

    .title {
      font-size: 26px;
      line-height: 1.308;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .synopsis {
      font-size: 14px;
      line-height: 1.429;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .articleListImage {
    width: 300px;

    position: relative;
    width: 300px;
    height: 163px;
  }
}
