.pageBody {
  margin-top: 30px;
}
.pageBody::after {
  content: "";
  clear: both;
  display: block;
}

.pageBodyMain {
  width: 720px;
  /* 段組み:左寄せ */
  float: left;
}

.pageBodySub {
  width: 220px;
  /* 段組み:右寄せ */
  float: right;
}

/* 記事一覧 */
.articleList {
  border: 1px solid #cccccc;
  margin-bottom: 25px;

  a {
    display: block;
    padding: 10px;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .articleListText {
    width: 370px;
    float: right;
    h1 {
      font-size: 26px;
      line-height: 1.308;
    }
    p {
      font-size: 14px;
      line-height: 1.429;
    }
  }
  .articleListImage {
    width: 300px;
    float: left;
    img {
      vertical-align: bottom;
    }
  }
}
