.pageBody {
  margin-top: 30px;
  display: grid;
  gap: 30px;
  grid-template: 1fr / 720px 220px;
}

.pageBodyMain {
  grid-column-start: 1;
}

.pageBodySub {
  grid-column-start: 2;
}

.articleDetail .border {
  border-bottom: 1px solid #cccccc;
}

.profileItem {
  font-size: 14px;
  list-style-type: square;
  line-height: 1.429;
}
