.pageBody {
  margin-top: 30px;

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.pageBodyMain {
  width: 720px;
  /* 段組み:左寄せ */
  float: left;
}
.pageBodySub {
  width: 220px;
  /* 段組み:右寄せ */
  float: right;
}
.articleDetail .border {
  border-bottom: 1px solid #cccccc;
}

.profileItem {
  font-size: 14px;
  list-style-type: square;
  line-height: 1.429;
}
